body {
background-color: white;
}
.calc {
  height : 400px !important;
  width  : 600px !important;
}

.display {

}

.firstRow {

}
.clearBtn {
    
}
.delBtn {
  /*background :url('../images/backOne.png') !important;*/

}
.secondRow {

}

.thirdRow {

}

.forthRow {

}