body {
background-color: white;
}
h3 {
  color:black;
  font-weight: bold;
  text-align: center;
  padding-right: 30px;
}
.calc {
  height : 400px !important;
  width  : 600px !important;
  margin-top: 100px !important;
  padding : 60px 0px 600px 20px !important;
  border-radius : 7%;
  background-color: rgb(71, 71, 71);
  border : 1px solid black;

}
button {
  height   : 75px !important;
  width    : 110px !important;
  margin   : 2px 0 !important;
  padding  : 2px 0 !important;
  color    : white !important;
  font-size: 2em !important;
  border-radius : 5% !important;
  border-color: rgb(0,0,0,0) !important ;
  background-color: rgb(94, 94, 94) !important;
}
button:hover {
  border-color    : lightgrey !important;
}
button:active {
  background-color: lightgrey !important;
}

.columns {
  margin   : 0 5px 0 10px !important;
}

.display {
  width: 93%;
  height : 80px !important;
  font-size : 2em;
  text-align: right;
}

.firstRow button {
  background-color: rgb(19, 15, 15) !important;
  color: white !important;
}
.firstRow button:active {
  background-color: rgb(185, 179, 179) !important;
}
.inputBar {

}
/*.clearBtn {
  background-color: red !important;
}
.delBtn {
  background-color: red !important;
}*/
.multi {
  padding-top : 20px !important;
}
.secondRow {

}

.thirdRow {

}

.forthRow {

}
.equals {
  padding : 50px 0 100px 0 !important;
  position : fixed;
  background-color: orange !important;
}
.fifthRow {

}
