body {
background-color: white;
}

.calc {
  height : 400px !important;
  width  : 600px !important;
  margin-top: 100px !important;
  padding : 50px 0px 500px 20px !important;
  
  border : 1px solid black;

}
button {
  height   : 75px !important;
  width    : 110px !important;
  margin   : 2px 0 !important;
  padding  : 2px 0 !important;
  color    : blue !important;
  font-size: 2em !important;
}

.columns {
  margin   : 0 5px 0 10px !important;

}

.display {
  width: 92%;

}

.firstRow {
  position:center;

}
.clearBtn {

}
.delBtn {

}
.multi {
  padding-top : 20px !important;
}
.secondRow {

}

.thirdRow {

}

.forthRow {

}
.equals {
  padding : 50px 0 100px 0 !important;
  position : fixed;
}
.fifthRow {

}
